
<div class="create-gallery">
<h3>Create Gallery</h3>
<br>
  <%= form_with url: galleries_path do |form| %>
    <div class="form-inline mr-md-3">
      <%= form.text_field :name, placeholder: "Enter gallery name", class: "form-control" %>
      <%= form.submit "Create new gallery", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>