<div class="fluid-container">
  <nav class="navbar navbar-inverse col-xs-12">
    <%= image_tag("logo.png", class: "logo")%>
    <span class="navbar-nav col-xs-10 h1">My Gallery</span>
    
  </nav>
</div>
  